@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Information And Payroll</h1>
    <p class="lead">This is the complete project for employee Information and Payroll.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Extra Info</h2>
        <p>
            This is the open source project available on github
        </p>
        <p><a class="btn btn-default" href="https://github.com/mohankarna/HRPayroll.git">View on Git</a></p>
    </div>

</div>